@{
    ViewBag.Title = "Electrical Usage";
}
@model SensorViewModel

<h2>Electrical Usage</h2>
<p>ToDo: Talk about more stuff on electricty sensors in EIB.  Talk about importance of electricy conservation.</p>



<table border="1">
    <tr>
        <th>ID</th>
        <th>Demand</th>
        <th>Usage</th>
        <th>Time Recorded</th>
        <th>Building Acronym</th>
    </tr>

@foreach (var record in Model.ElectricalRecords)
{
    <tr>
        <td>@record.ElectricalRecordId</td>
        <td>@record.Demand kW</td>
        <td>@record.Usage kWh</td>
        <td>@record.RecordedDateTime</td>
        <td>@record.BuildingRecord.Acronym</td>
    </tr>

}
</table>




<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', '2016');
        data.addColumn('number', 'kWatts');
        data.addRows([

            @foreach(var record in Model.ElectricalRecords)
            {

                @:["@record.RecordedDateTime.ToString("%h:%m tt")", @record.Demand],
            }
        ]);

        // Set chart options
        var options = {
            'title': 'Electrical Usage in kWatts',
            'height': 300
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>

<div class="row">
    <div class="container-fluid">
        <div class="col-xs-1">
            <button class="btn btn-success btn-lg"><i class="fa fa-angle-left"></i></button>
        </div>
        <div class="col-xs-10">
        </div>
        <div class="col-xs-1">
            <button class="btn btn-success btn-lg"><i class="fa fa-angle-right"></i></button>
        </div>
    </div>
</div>
<div class="row">
<div id="chart_div" />
</div>
<div class="row">
    <div class="container-fluid">
        <div class="col-xs-10 col-xs-offset-1">
            <table>
                <tr>
                    <th>Today's Avg Usage</th>
                    <th>Week % Diff</th>
                    <th>Month % Diff</th>
                    <th>Year % Diff</th>
                </tr>
                <tr>
                    <td>3.0kw</td>
                    <td>.03% Up</td>
                    <td>.12% Down</td>
                    <td>Same</td>
                </tr>
            </table>


<p>Todo: write about how </p>

        </div>
    </div>
</div>